<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<meta charset="UTF-8">
<!-- IE 호환 모드 지원 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!-- 모바일 웹브라우져 대응 -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
 
	<title>JoinPage</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<style>
	.agree_list{
		list-style: none;
	}
	.margin-b-5{
		margin-bottom: 5px;
	}
	.margin-b-10{
		margin-bottom: 10px;
	}
	.margin-b-20{
		margin-bottom: 20px;
	}
	.row .col-sm-4{	
		padding-left: 0;
	}

	</style>
</head>

<body>
<script src="js/jquery-3.2.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-birthday.js"></script>
<script src="js/angular.min.js"></script>

<form action="signup" class="form-horizontal" style="margin-bottom: 20px;" name="signupForm" novalidate>
	<div class="row">
		
		<div class="col-xs-4 col-xs-offset-4">
			
			<h2 class="margin-b-20" style="text-align: center;">필수 항목</h2>	
			
			<!-- 아이디입력 -->
			<div class="form-group has-feedback" 
				ng-class="{'has-success' : signupForm.inputId.$valid, 'has-error' : signupForm.inputId.$invalid && signupForm.inputId.$dirty}"
				>
				
				<input type="text" class="form-control" id="inputId" placeholder="아이디를 입력해주세요." name="inputId" 
						ng-required="true" ng-model="inputId" ng-pattern="/^[a-z]+$/"/>
				<p class="help-block margin-b-5" ng-show="signupForm.inputId.$error.required && signupForm.inputId.$dirty">반드시 입력하세요.</p>
				<p class="help-block margin-b-5" ng-show="signupForm.inputId.$error.pattern && signupForm.inputId.$dirty">영소문자만 입력하세요.</p>
				<span class="form-control-feedback glyphicon glyphicon-ok" ng-show="signupForm.inputId.$valid"></span>
				<span class="form-control-feedback glyphicon glyphicon-remove" ng-show="signupForm.inputId.$invalid && signupForm.inputId.$dirty"></span>
			</div>

			<!-- 비밀번호입력 -->
			<div class="form-group has-feedback"
				ng-class="{'has-success': signupForm.inputPwd.$valid, 'has-error' : signupForm.inputPwd.$invalid && signupForm.inputPwd.$dirty}">
				
				<input type="text" class="form-control" id="inputPwd" name="inputPwd" 
					ng-required="true" ng-model="inputPwd" placeholder="비밀번호를 입력해 주세요."
					ng-pattern="/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9])/"  
					ng-minlength="6" ng-maxlength="20">
				
					<p class="help-block margin-b-5" ng-hide="!signupForm.inputPwd.$error.required && !signupForm.inputPwd.$error.pattern && !signupForm.inputPwd.$error.minlength && !signupForm.inputPwd.$error.maxlength">대,소문자포함, 6~20글자, 특수문자 포함</p>
					<p class="help-block margin-b-5" ng-show="signupForm.inputPwd.$error.required && signupForm.inputPwd.$dirty">반드시 입력하세요.</p>
					<p class="help-block margin-b-5" ng-show="signupForm.inputPwd.$error.minlength && signupForm.inputPwd.$dirty">6글자 이상 입력하세요.</p>
					<p class="help-block margin-b-5" ng-show="signupForm.inputPwd.$error.maxlength && signupForm.inputPwd.$dirty">20글자 이하로 입력하세요.</p>
					<p class="help-block margin-b-5" ng-show="signupForm.inputPwd.$error.pattern && signupForm.inputPwd.$dirty">특수문자를 포함해 주세요</p>
				<span class="form-control-feedback glyphicon glyphicon-ok" ng-show="signupForm.inputPwd.$valid"></span>
				<span class="form-control-feedback glyphicon glyphicon-remove" ng-show="signupForm.inputPwd.$invalid && signupForm.inputPwd.$dirty"></span>
			</div>

			<!-- 비밀번호 확인-->
			<div class="form-group has-feedback"
				ng-class="{'has-success' : signupForm.confirmPwd.$valid, 'has-error' : signupForm.confirmPwd.$invalid && signupForm.confirmPwd.$dirty}">

				<input type="text" class="form-control" id="confirmPwd" name="confirmPwd" 
					ng-required="true" ng-model="confirmPwd.confirm" 
					ng-pattern="/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9])/"  
					ng-minlength="6" ng-maxlength="20" 
					value-matches="inputPwd"
					required placeholder="비밀번호를 다시 한번 입력해 주세요.">

 				<p class="help-block"
 					ng-show="signupForm.confirmPwd.$dirty && signupForm.confirmPwd.$invalid">비밀번호를 확인해 주세요.</p>
 				<span class="form-control-feedback glyphicon glyphicon-ok" ng-show="signupForm.confirmPwd.$valid"></span>
				<span class="form-control-feedback glyphicon glyphicon-remove" ng-show="signupForm.confirmPwd.$invalid && signupForm.confirmPwd.$dirty">
			</div>
			
			<div class="row">
				<input type="name" class="form-control margin-b-10" id="inputName" placeholder="이름을 입력해주세요.">
			</div>
			
		
			<div class="row">
				<div class="col-xs-4" style="padding: 0;">
					<input type="email" class="form-control margin-b-10" id="inputEmail">
				</div>
				<div class="col-xs-4" style="padding-right: 0;padding-left: 5px;">
					<div class="input-group">	
						<span class="input-group-addon">@</span>
						<input type="email" class="form-control" id="inputEmailAdd">
					</div>
				</div>

				<div class="col-xs-4" style="padding-left:5px; padding-right: 0px;">
					<select name="emailAdd" id="selectEmailAdd" class="form-control">
						<option value="" selected>:: 주소선택 ::</option>
						<option value="naver.com">naver.com(네이버)</option>
						<option value="gmail.com">gmail.com(구글)</option>
						<option value="daum.net">daum.net(다음)</option>
						<option value="hotmail.com">hotmail.com(MS)</option>
						<option value="">:: 직접입력 ::</option>
					</select>
				</div>
			</div>

			<!-- 핸드폰번호 -->
			<div class="row margin-b-10">
				<div class="col-xs-3"
					style="padding-left: 0px; padding-right: 5px;">
					<fieldset>
						<select name="amount" class="form-control" id="amount" style="height: 36px; width: 100%;">
							<option value="1" selected="selected">SKT</option>
							<option value="2">KT</option>
							<option value="3">LG</option>
							<option value="4">기타</option>
						</select>
					</fieldset>
				</div>

				<div class="col-xs-9">
					<div class="form-group has-feedback"
					ng-class="{'has-success' : signupForm.phoneNumber.$valid, 'has-error' : signupForm.phoneNumber.$invalid && signupForm.phoneNumber.$dirty}"
					style="padding-left: 0;">
					<input type="text" class="form-control" name="phoneNumber" id="phoneNumber" 
						ng-pattern= "/^(?:(010\d{4})|(01[1|6|7|8|9]\d{3,4}))(\d{4})$/"
						ng-required="true" ng-model="phoneNumber" placeholder="휴대폰번호(-제외)"
						style="height: 36px;">
						
					<p class="help-block margin-b-5" ng-show="signupForm.phoneNumber.$error.pattern && signupForm.phoneNumber.$dirty">형식에 맞지 않습니다.</p>

					<span class="form-control-feedback glyphicon glyphicon-ok" ng-show="signupForm.phoneNumber.$valid"></span>
					<span class="form-control-feedback glyphicon glyphicon-remove" ng-show="signupForm.phoneNumber.$invalid && signupForm.phoneNumber.$dirty">
				</div> 
			</div>
				
			<label>
				<input type="checkbox" id="isAgree1" ng-model="isAgree1"> &nbsp;이용약관 동의 &nbsp;
			</label>
			<button id="modalBtn1" class="btn btn-info btn-xs" data-target="#modal1">내용보기</button><br/>
			<label>
				<input type="checkbox" id="isAgree2" ng-model="isAgree2"> &nbsp;개인정보 수집 및 이용 동의 &nbsp;
			</label>
			<button id="modalBtn2" class="btn btn-info btn-xs" data-target="#modal2">내용보기</button>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<div class="row margin-b-10">
				<h2 style="margin-top: 25px; text-align: center;">선택항목</h2>	
			</div>
			<div class="row">
				<div class="row margin-b-10">
					<div class="col-xs-3">
						<label for="element">생년월일</label>
					</div>
					<div class="col-xs-9">
						<input id="birthday">
					</div>
				</div>
				<div class="row margin-b-20">
					<div class="col-xs-3">
						<label>성별</label>
					</div>
					<div class="col-xs-9">
						<label>
							<input value="man" name="gender" type="radio">남자
						</label>
						<label>
							<input value="woman" name="gender" type="radio" style="margin-left: 20px;">여자
						</label>	
					</div>
				</div>
			</div>
			
			<div class="row">
				<div style="border: solid 1px #000000; margin-bottom: 5px;">
					<div>
						<label style="padding-left: 10px;">
							<input type="checkbox" id="isAgree3" ng-model="isAgree3"/>생년월일과 성별 수집 및 이용동의
						</label>
					</div>

					<div>
						<label style="padding-left: 10px;">
							<input type="checkbox" id="isAgree4" ng-model="isAgree4"/>이메일 마케팅 수신 동의
						</label>
					</div>
				
					<div>
						<label style="padding-left: 10px;">
							<input type="checkbox" id="isAgree5" ng-model="isAgree5">개인정보 유효기간 3년 지정 (미동의 시 1년) &nbsp;
						</label>
						<button id="modalBtn3" class="btn btn-info btn-xs" data-target="#modal3">내용보기</button>
					</div>
				</div>
			</div>
			
			<div style="text-align: center;" class="margin-b-10">
				<label>
					<h4>
						<input type="checkbox" id="allAgree"/><strong>&nbsp;전체동의</strong>
					</h4>
				</label>
			</div>

			<div class="row">
				<button class="btn btn-info form-control">회원가입</button>
			</div>
		</div>
	</div>


</form>


<!-- modal1, 2, 3 -->
<div class="modal fade" id="modal1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">모달 닫기</span></button>
				<h4 class="modal-title">이용약관</h4>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est culpa voluptate impedit cumque! Perferendis incidunt impedit possimus vero natus, ipsam commodi quo a deleniti expedita architecto, debitis facilis! Vitae, animi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum distinctio, repudiandae nesciunt. Facere iusto, sit ad saepe voluptas, voluptatibus numquam explicabo veniam necessitatibus, soluta laborum, harum officiis repellat nulla temporibus!</p>
			</div>
			<div class="modal-footer">
				<label>
					<input type="checkbox" data-dismiss="modal" ng-click="isAgree1=true">동의합니다.
				</label>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal2">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">모달 닫기</span></button>
				<h4 class="modal-title">개인정보 수집 및 이용 동의</h4>
			</div>
			<div class="modal-body">
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est culpa voluptate impedit cumque! Perferendis incidunt impedit possimus vero natus, ipsam commodi quo a deleniti expedita architecto, debitis facilis! Vitae, animi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquid, veniam accusamus illum vitae perspiciatis culpa dolores officiis ducimus ullam cumque corporis, sit amet minus cum numquam quod temporibus ipsa.</p>
			</div>
			<div class="modal-footer">
				<label>
					<input type="checkbox" data-dismiss="modal" ng-click="isAgree2=true">동의합니다.
				</label>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal3">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">모달 닫기</span></button>
				<h4 class="modal-title">개인정보 유효기간 3년 지정</h4>
			</div>
			<div class="modal-body">
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est culpa voluptate impedit cumque! Perferendis incidunt impedit possimus vero natus, ipsam commodi quo a deleniti expedita architecto, debitis facilis! Vitae, animi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolorum harum excepturi, repellat, enim ullam necessitatibus porro quam itaque rerum doloribus alias commodi, quo incidunt beatae fugit aspernatur consequuntur eligendi.</p>
			</div>
			<div class="modal-footer">
				<label>
					<input type="checkbox" data-dismiss="modal" ng-click="isAgree5=true">동의합니다.
				</label>
			</div>
		</div>
	</div>
</div>


<script>
	//Email 직접입력
	$("#selectEmailAdd").click(function(){
			var add=$(this).val();
			$("#inputEmailAdd").val(add);
	});

	// 생년월일선택
	$('#birthday').bootstrapBirthday({
 	 widget: {
	  	  wrapper: {
	      tag: 'div',
	      class: 'row'
	    },
	    wrapperYear: {
	      use: true,
	      tag: 'div',
	      class: 'col-sm-4'
	    },
	    wrapperMonth: {
	      use: true,
	      tag: 'div',
	      class: 'col-sm-4'
	    },
	    wrapperDay: {
	      use: true,
	      tag: 'div',
	      class: 'col-sm-4'
	    },
	    selectYear: {
	      name: 'birthday[year]',
	      class: 'form-control'
	    },
	    selectMonth: {
	      name: 'birthday[month]',
	      class: 'form-control'
	    },
	    selectDay: {
	      name: 'birthday[day]',
	      class: 'form-control'
	  	  }
 	 	}
	});

	// 모달에 옵션 전달하기
	$("#modal1").modal({
		backdrop: true,
		show: false
	});
	$("#modal2").modal({
		backdrop: true,
		show: false
	});
	$("#modal3").modal({
		backdrop: true,
		show: false
	});

	// 버튼을 눌렀을때 모달 보이게 하기
	$("#modalBtn1").click(function(){
		$("#modal1").modal("show");
		return false; //폼 제출 막기 
	});
	$("#modalBtn2").click(function(){
		$("#modal2").modal("show");
		return false; //폼 제출 막기 
	});
	$("#modalBtn3").click(function(){
		$("#modal3").modal("show");
		return false; //폼 제출 막기 
	});

	// 전체동의
	$("#allAgree").on("click", function(){
		//$("input[type='checkbox']").prop("checked","checked");

		var ischecked=$("#allAgree").prop("checked");
		if(ischecked){
			$("input[type='checkbox']").prop("checked","checked");
		}else{
			$("input[type='checkbox']").prop("checked","");
		}
	});

	//password match
	(function () {
	  "use strict";

	  angular.module('myApp', []).
	    directive('valueMatches', ['$parse', function ($parse) {
	    return {
	      require: 'ngModel',
	        link: function (scope, elm, attrs, ngModel) {
	          var originalModel = $parse(attrs.valueMatches),
	              secondModel = $parse(attrs.ngModel);
	          // Watch for changes to this input
	          scope.$watch(attrs.ngModel, function (newValue) {
	            ngModel.$setValidity(attrs.name, newValue === originalModel(scope));
	          });
	          // Watch for changes to the value-matches model's value
	          scope.$watch(attrs.valueMatches, function (newValue) {
	            ngModel.$setValidity(attrs.name, newValue === secondModel(scope));
	          });
	        }
	      };
	    }]);
	    
	}());


</script>
</body>
</html>